h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3ex;
  color: rebeccapurple;
  text-align: right;
  /* background-color: rgb(183, 182, 230); */
}

h2 {
  margin-left: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.5ex;
  color: rebeccapurple;
  text-decoration: underline;
  /* text-align: center; */
  /* background-color: rgb(173, 182, 230); */
}

h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2ex;
  color: rgb(32, 6, 58);
  text-align: right;
  background-color: lightblue;
}
ul {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.7ex;
  color: rebeccapurple;
  text-align: "center";
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.9ex;
  /* color: rgb(45, 4, 83); */
  margin-left: 10px;
}

.head {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.info {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  color: black;
}
.icon-bar {
  font-size: 20px;
  color: black;
  margin-top: 15px;
  margin-right: 50px;
  text-align: right;
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
  .head {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
  }

  .info {
    margin-top: 10px;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 150px;
    color: black;
  }
  .icon-bar {
    font-size: 20px;
    color: black;
    margin-top: 15px;
    margin-right: 150px;
    text-align: right;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .head {
    margin-top: 80px;
    margin-left: 175px;
    margin-right: 175px;
    text-align: center;
  }

  .info {
    margin-top: 10px;
    margin-bottom: 175px;
    margin-left: 175px;
    margin-right: 175px;
    color: black;
  }
  .icon-bar {
    font-size: 20px;
    color: black;
    margin-top: 15px;
    margin-right: 175px;
    text-align: right;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .head {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
  }

  .info {
    margin-top: 10px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    color: black;
  }
  .icon-bar {
    font-size: 20px;
    color: black;
    margin-top: 15px;
    margin-right: 200px;
    text-align: right;
  }
}

@media screen and (min-width: 1301px) {
  .head {
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
  }

  .info {
    margin-top: 10px;
    margin-bottom: 300px;
    margin-left: 300px;
    margin-right: 300px;
    color: black;
  }
  .icon-bar {
    font-size: 20px;
    color: black;
    margin-top: 15px;
    margin-right: 300px;
    text-align: right;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 22px;
    text-decoration: none;
  }
  h2 {
    font-size: 16px;
  }
  h4 {
    font-size: 12.1px;
    background-color: white;
  }
  p {
    font-size: 13px;
  }
  ul {
    font-size: 13px;
  }
  head {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }

  info {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
  }
}
